:root {
  --font-family: "Source Serif Pro", serif;
  --black: #000000;
  --red: #ff0000;
  --pink: #fed3d3;
  --selection-bg-clr: #0000002f;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}

body {
  cursor: url(../img/cursor.png), auto;
  overflow: hidden;
  background-color: var(--pink);
  user-select: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-fill {
  fill: var(--red);
}

svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3rem);
  height: 61rem;
}

.text {
  cursor: text;
  text-transform: uppercase;
  font: 800 90rem var(--font-family);
  text-shadow: 10rem 10rem 0 var(--red);
  transition: 0.08s;
  border-radius: 4rem;
  z-index: 10;
  max-width: 60%;
}

.text::selection {
  background-color: var(--selection-bg-clr);
}

@media screen and (max-width: 1090px) {
  html {
    font-size: 0.8px;
  }
}

@media screen and (max-width: 870px) {
  html {
    font-size: 0.6px;
  }
}

@media screen and (max-width: 660px) {
  html {
    font-size: 0.4px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 0.3px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 0.2px;
  }
}
