* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}

body {
  cursor: url(../img/cursor.png), auto;
  overflow: hidden;
  background-color: #fed3d3;
}

.hero {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text {
  cursor: text;
  text-transform: uppercase;
  font: 800 90rem "Source Serif Pro", serif;
  text-shadow: 10rem 10rem 0 #ff0000;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 0.8px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.6px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 0.4px;
  }
}
