* {
  margin: 0;
}

body {
  overflow: hidden;
  background-color: hsla(177, 81%, 56%, 0.103);
}

img {
  user-select: none;
}

::selection {
  color: hsl(0, 0%, 100%);
  background-color: #96f8f3;
}
