* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: url(../img/background.jpg) center/cover no-repeat;
  overflow: hidden;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.key {
  padding: 0.5rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border-radius: 4px;
  transition: all 0.1s ease;
  border: 0.3rem solid #000000e1;
  background-color: #272727bf;
}

kbd {
  font: 3.5rem cursive;
  color: #fffffff1;
}

.sound {
  color: #ffd700;
  text-transform: uppercase;
  font: 1.3rem sans-serif;
  padding-bottom: 1rem;
}

.playing {
  transform: scale(1.1);
  border: 0.4rem solid #ffd700;
  box-shadow: 0.1rem 0.1rem 1rem #ffd900b6;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 690px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 3.1px;
  }
}
