:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Short Stack", cursive;
  --white-color: #fffffff1;
  --primary-color: #ffd700;
  --bg-color: #272727bf;
  --loader-bg-color: #060606;
  --border-color: #000000e1;
  --shadow-color: #ffd900b6;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  background: url(../img/background.jpg) center/cover no-repeat
    var(--primary-color);
  overflow: hidden;
}

#container {
  padding: 0.5rem;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.key {
  padding: 0.5rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  border-radius: 0.4rem;
  transition: all 0.1s ease;
  border: 0.3rem solid var(--border-color);
  background-color: var(--bg-color);
}

kbd {
  font: 3.5rem var(--secondary-font-family);
  color: var(--white-color);
}

.sound {
  color: var(--primary-color);
  text-transform: uppercase;
  font: 500 1.3rem var(--primary-font-family);
  padding-bottom: 1rem;
}

.playing,
.key:active {
  transform: scale(1.1);
  border: 0.3rem solid var(--primary-color);
  box-shadow: 0 0 2rem var(--shadow-color);
}

.mobile {
  font: 4rem var(--primary-font-family);
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  display: none;
}

::selection {
  background-color: var(--primary-color);
  color: var(--border-color);
}

/* cursor start */
#cursor {
  position: absolute;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 100;
  transition: all 0.1s linear;
  pointer-events: none;
  border: 0.2rem solid var(--primary-color);
  box-shadow: 0 0 0.2rem var(--shadow-color);
  background-color: transparent;
}
/* cursor end */

/* loader start */
.cssload-container {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--loader-bg-color);
}

.cssload-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cssload-flex-container li {
  padding: 0.9rem;
  height: 9rem;
  width: 9rem;
  margin: 2.7rem 1.8rem;
  position: relative;
  text-align: center;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 100%;
  border: 0.4rem solid transparent;
  border-bottom: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid var(--primary-color);
  animation: cssload-spinR 1.1s linear infinite;
}

.cssload-loading:before,
.cssload-loading:after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}

.cssload-loading:before {
  height: 4.5rem;
  width: 4.5rem;
  top: 11%;
  left: 11%;
  border: 0.3rem solid transparent;
  border-top: 0.3rem solid var(--primary-color);
  border-right: 0.3rem solid var(--primary-color);
  animation: cssload-spinL 0.4075s linear infinite;
  transform-origin: center center;
}

.cssload-loading:after {
  height: 0.9rem;
  width: 0.9rem;
  top: 35.5%;
  left: 35.5%;
  background-color: transparent;
  border: 0.2rem solid var(--primary-color);
}

@keyframes cssload-spinR {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spinR {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spinR {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cssload-spinL {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@-ms-keyframes cssload-spinL {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(-360deg);
  }
}

@-webkit-keyframes cssload-spinL {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}
/* loader end */

@media screen and (max-width: 1007px) {
  html {
    font-size: 7px;
  }

  .mobile {
    display: block;
  }
}

@media screen and (max-width: 690px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 3.3px;
  }
}
