:root {
  --white: #fdfbfb;
  --pink: #eea8d7;
  --box-shadow-clr: #ffffff1a;
  --text-shadow-clr1: #00000073;
  --text-shadow-clr2: #000000b8;
  --font-family: "Amatic SC", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  overflow: hidden;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background: center/cover;
  box-shadow: inset 0 0 0 0.3rem var(--box-shadow-clr);
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
}

.panel1 {
  background-image: url(../img/sea.jpg);
}

.panel2 {
  background-image: url(../img/blue.jfif);
  background-position: 70%;
}

.panel3 {
  background-image: url(../img/nature.jfif);
}

.panel4 {
  background-image: url(../img/mountain.jfif);
}

.panel5 {
  background-image: url(../img/fox.jfif);
}

.panel > * {
  transition: transform 0.5s, font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.panel > p {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: 0 0 0.4rem var(--text-shadow-clr1), 0 0 1.4rem var(--text-shadow-clr2);
}

.panel > p:nth-child(2) {
  font-size: 9rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.panel.open {
  flex: 5;
}

.panel.open p:nth-child(2) {
  font-size: 15rem;
}

.panel > p:first-child {
  transform: translateY(-100%);
}

.panel > p:last-child {
  transform: translateY(100%);
}

.open-active > p:first-child,
.open-active > p:last-child {
  transform: translateY(0%);
}

#loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--pink);
}

.loader {
  width: 30rem;
  height: 30rem;
  background: center / contain no-repeat url(../img/spinner.gif) var(--pink);
  background-blend-mode: multiply;
}

::selection {
  color: var(--white);
  background-color: var(--pink);
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 4px;
  }

  .open-active > p:first-child {
    transform: translateY(50%);
  }

  .open-active > p:last-child {
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 3px;
  }
}
