* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing: 0px;
  --blur: 0px;
  --color: #461301;
  --bg-color: #46130181;
  --img-bg-color: #4613018c;
  --loader-bg-color: #80675b;
  --selection-color: #f5f5f5;
  --font-family: "Patrick Hand", cursive;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font: 600 3rem var(--font-family);
  background: url(../img/nature.jpeg) right top/cover no-repeat var(--bg-color);
  background-blend-mode: darken;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 2rem;
}

img {
  width: 65%;
  height: 65vh;
  margin-top: 2rem;
  object-fit: cover;
  user-select: none;
  padding: var(--spacing);
  background-color: var(--img-bg-color);
  border: 1.8rem solid var(--color);
  filter: blur(var(--blur)) contrast(110%);
}

input {
  margin-right: 1.5rem;
  cursor: pointer;
}

input[type="range"] {
  accent-color: var(--color);
}

::selection {
  color: var(--selection-color);
  background-color: var(--color);
}

/* loader start */
#loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--loader-bg-color);
}

.loader {
  width: 6.5rem;
  height: 6.5rem;
  background: center / contain no-repeat url(../img/loader.gif);
}
/* loader end */

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }

  img {
    width: 85%;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 6px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img {
    margin-top: 2.4rem;
    height: 55vh;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 95%;
    height: 45vh;
  }
}
