:root {
  --font-family: Karla, sans-serif;
  --primary-clr: #5f9ea0;
  --bg-clr: #f9f9f9;
  --border-bottom-clr: #ebebebe1;
  --border-left-clr: #c2ccf8;
  --white: #ffffff;
  --box-shadow: #0000003b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--primary-clr);
  font: 2rem var(--font-family);
}

.items {
  max-width: 50rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem var(--box-shadow);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--border-bottom-clr);
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 1.8rem;
  cursor: pointer;
}

input[type="checkbox"] + p {
  transition: background-color 0.4s ease;
  padding: 1.8rem;
  width: 100%;
  border-left: 0.1rem solid var(--border-left-clr);
}

input:checked + p {
  background-color: var(--bg-clr);
  text-decoration: line-through;
}

::selection {
  color: var(--white);
  background-color: var(--primary-clr);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 5px;
  }
}
