* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #dbefe547;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Finger Paint", cursive;
}

#text {
  color: #8a2be2;
  position: absolute;
  font-size: 4rem;
  animation: fade 1s ease;
  user-select: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1007px) {
  body::after {
    content: "Visit in desktop for the best experience.";
    background-image: linear-gradient(217deg, #47d1c8, #ff000000 70.71%),
      linear-gradient(127deg, #47d198, #00ff0000 70.71%),
      linear-gradient(336deg, #47aad1, #0000ff00 70.71%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.4rem;
    padding: 0 1.5rem;
    color: #2b7ae2;
  }

  #text,
  #canvas {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 7px;
  }
}
