*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: 2rem "helvetica neue";
  background-color: #7f87882a;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url(../img/sea.jfif) bottom center / cover no-repeat;
}

.title {
  color: #ffffff;
  font-size: 6.2rem;
  text-shadow: 0.3rem 0.4rem #00000033;
}

nav {
  top: -0.1px;
  background-color: #000000;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.nav-items {
  display: flex;
}

.nav-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  transition: 0.5s ease;
  background-color: #7f8788 !important;
}

#logo {
  max-width: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.logo-link {
  font-size: 3rem;
  font-weight: 600;
  color: #000000 !important;
}

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 2rem;
  -webkit-tap-highlight-color: transparent;
}

.site-wrap {
  max-width: 70rem;
  margin: 6rem auto;
  background-color: #ffffff;
  padding: 4rem;
  text-align: center;
  box-shadow: 0 0 1rem 0.5rem #0000000d;
}

.site-wrap p {
  text-align: justify;
  margin: 1.5rem 0;
}

.site-wrap img {
  user-select: none;
  object-fit: cover;
  width: 60%;
  height: auto;
}

::selection {
  color: #ffffff;
  background-color: #000000;
}

a::selection {
  color: #000000;
  background-color: #ffffff;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 7px;
  }

  .title {
    font-size: 5.2rem;
  }

  .logo-link {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 4.3px;
  }
}
