:root {
  --font-family: "helvetica neue";
  --white: #ffffff;
  --black: #000000;
  --bg-clr: #7f87882a;
  --hover-bg-clr: #7f8788;
  --box-shadow: #0000000d;
  --text-shadow: #00000033;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: 2rem var(--font-family);
  background-color: var(--bg-clr);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url(../img/sea.jfif) bottom center / cover no-repeat;
}

.title {
  color: var(--white);
  font-size: 6.2rem;
  text-shadow: 0.3rem 0.4rem var(--text-shadow);
}

nav {
  top: -0.1px;
  background-color: var(--black);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.nav-items {
  display: flex;
}

.nav-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  transition: 0.5s ease;
  background-color: var(--hover-bg-clr) !important;
}

#logo {
  max-width: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: 0.5s ease;
}

.logo-link {
  font-size: 3rem;
  font-weight: 600;
  color: var(--black) !important;
}

.nav-link {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 2rem;
  -webkit-tap-highlight-color: transparent;
}

.site-wrap {
  max-width: 70rem;
  margin: 6rem auto;
  background-color: var(--white);
  padding: 4rem;
  text-align: center;
  box-shadow: 0 0 1rem 0.5rem var(--box-shadow);
}

.site-wrap p {
  text-align: justify;
  margin: 1.5rem 0;
}

.site-wrap img {
  user-select: none;
  object-fit: cover;
  width: 60%;
  height: auto;
}

::selection {
  color: var(--white);
  background-color: var(--black);
}

a::selection {
  color: var(--black);
  background-color: var(--white);
}

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 7px;
  }

  .title {
    font-size: 5.2rem;
  }

  .logo-link {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 4.3px;
  }
}
